.page {
    width: 100%;
    height: 100%;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: auto;
}

.game-grid {
    border: 0px solid var(--fg-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.1rem;
    width: 100%;
}

.grid-slot {
    aspect-ratio: 1;
    border: 0.1rem solid var(--fg-color);
    border-radius: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connected {
    background-color: var(--fg-color);
}

.token {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.player-1 {
    background-color: var(--fg-color);
}

.player-2 {
    border: 0.3rem solid var(--fg-color);
}

.connected .player-1 {
    background-color: var(--bg-color);
}

.connected .player-2 {
    border: 0.3rem solid var(--bg-color);
}

input[type="text"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--fg-color);
    border-radius: 0.1rem;
    background-color: var(--fg-color);
    color: var(--bg-color);
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
}

button {
    font-size: 1rem;
    background-color: transparent;
    border: 0.1rem solid var(--fg-color);
    border-radius: 0.1rem;
    border-bottom-width: 0.2rem;
    padding: 0.1rem 0.3rem;
}