.page {
    width: 100%;
    height: 100%;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: auto;
}

.inverted {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    margin: 0;
}

.game-grid {
    background-color: #fefaf0;
    border: 0.2ch solid #f2c673;
    outline: 0.2ch solid #6c421e;
    box-sizing: border-box;
    padding: 0.5ch;
    border-radius: 1ch;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5ch;
    width: 98%;
}

.grid-slot {
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.connected {
    background-color: var(--fg-color);
}

.token {
    width: 100%;
    height: 100%;
}

.player-0 {
    background-color: #cb6155;
    border: 0.1ch solid #793914;
    border-radius: 50%;
}

.player-1 {
    background-color: #5498cc;
    border: 0.1ch solid #2e566f;
    border-radius: 50%;
}

.inverted {
    background-color: var(--fg-color);
    color: var(--bg-color);
    border-color: var(--bg-color);
}
